@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

//colors
$allCategoriesBtn: #f8f8f8;
$categoriesLink: #403f3f;

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

//SCROLLBAR

::-webkit-scrollbar {
  width: 3px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #000000 !important;
  border-radius: 50px !important;
}

::-webkit-scrollbar-track {
  background-color: #ff4f04;
}
//navbar
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 75px;

  .nav-image {
    width: 130%;
    object-fit: cover;
  }

  .searchSection {
    margin-right: 115px;
    form {
      position: relative;
    }

    .searchInput {
      width: 560px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #808080;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .searchBtn {
      position: absolute;
      right: 3%;
      top: 8%;
      border: none;
      background-color: transparent;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    .iconsSection {
      margin-right: 15px;
    }
    .iconsSection:last-child {
      margin-right: 0;
    }
  }
}

//categories
.categories {
  padding: 10px 75px 20px 75px;
  border-top: 1.5px solid #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn-group {
    display: inline;
    button {
      display: flex;
      align-items: center;
      background-color: $allCategoriesBtn;
      color: #000000;
      border: none;
      .menuIcon {
        margin-right: 12px;
      }

      &::after {
        margin-left: 50px;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .link-item {
      margin-right: 30px;
    }

    .link-item:last-child {
      margin-right: 0;
    }

    .link {
      text-decoration: none;
      color: $categoriesLink;
      font-weight: 600;
    }

    .active {
      color: #ff5d18;
    }
  }
}

// home
.home {
  background-image: url(../../assets/homebg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;

  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .main-left {
      width: 100%;
      max-width: 578px;
      margin: 100px 75px auto;
      .main-title {
        margin: 0;
        font-size: 50px;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .main-text {
        margin: 0;
        color: #ffffff;
        font-weight: 500;
        margin-bottom: 40px;
      }
      .main-buttons {
        .mainBtnBuy {
          display: inline-block;
          text-decoration: none;
          color: #ffffff;
          background-color: #ff4f04;
          padding: 15px 20px;
          margin-right: 20px;
          border-radius: 5px;
        }

        .mainIcons {
          margin-left: 10px;
          margin-bottom: 5px;
        }

        .mainBtn {
          display: inline-block;
          text-decoration: none;
          padding: 15px 20px;
          color: #ffffff;
          background-color: #5a5a5a54;
          border-radius: 5px;
        }
      }
    }

    .main-right {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

//recommended
.smartWatchWrapper {
  padding: 50px 75px;
  background-color: #f8f8f8;
  .titlesWrapper {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
  }

  .text-smartWatch {
    margin: 0;
    color: #302f2f;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .title-smartWatch {
    margin: 0;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .productCard {
    padding: 15px;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: 0.5s ease;
      &:hover {
        transform: scale(1.2);
      }
    }

    p {
      text-align: center;
      margin-top: 15px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .price {
      display: inline-block;
      width: 60px;
      height: 40px;
      background-color: #f4e4de;
      border-radius: 50px;
      padding: 8px 13px;
      transform: translate(100px, 0);
      color: #ff4f04;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
    }
  }

  .buttonArea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .exploreBtn {
      display: inline-block;
      text-decoration: none;
      border: 1px solid #707070;
      padding: 20px 30px;
      border-radius: 10px;
      color: #302f2f;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      transition: 0.5s ease;
      &:hover {
        background-color: #707070;
        color: #ffffff;
      }
    }
  }
}

//advertising
.advertising {
  background-image: url(../../assets/sale-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;

  .contents {
    padding: 60px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content-text {
      margin: 0;
      color: #fff;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
      font-size: 40px;
      width: 44%;
    }

    .shopping {
      .shopping-link {
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 20px 50px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        transition: 0.3s ease;

        &:hover {
          background-color: #777;
          color: #ffffff;
        }
      }
    }
  }
}

//new collection
.newCollection {
  .card-image {
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.2);
    }
  }

  .card-body {
    padding: 0;
  }

  .card {
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
    margin: 10px;
  }

  .card-footer {
    background-color: transparent;
    border-top: none;
  }

  .cardWrapper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    p {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
    }

    span {
      background-color: #ffffff;
      padding: 5px 10px;
      border-radius: 20px;
      color: #ff4f04;
      font-weight: 700;
    }
  }

  .productPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      background-color: #000000;
      padding: 5px 15px;
      color: #ffffff;
      font-weight: 600;
      border-radius: 20px;
      font-family: "Roboto", sans-serif;

      &:nth-child(2) {
        background-color: #ffffff;
        padding: 5px 10px;
        border-radius: 20px;
        color: #ff4f04;
        font-weight: 700;
      }
    }
  }

  .cardsContent {
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
  }

  .cardContent-image {
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.2);
    }
  }

  .cardContent-footer {
    padding: 0 30px;
    background-color: transparent;
  }

  .productName {
    margin: 0;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .productBrand {
    margin: 0;
    color: #7a7a7a;
    font-weight: 500;
  }

  .newCollectionWrapper {
    text-align: center;
    padding: 50px 0 25px 0;
    p {
      margin: 0;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      color: #302f2f;
      margin-bottom: 10px;
    }

    h4 {
      margin: 0;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      color: #111111;
    }
  }

  .newCollection-button {
    text-align: center;
    padding: 50px 0;
    .exploreBtnProducts {
      display: inline-block;
      text-decoration: none;
      border: 1px solid #707070;
      padding: 20px 30px;
      border-radius: 5px;
      font-weight: 500;
      color: #302f2f;
      transition: 0.5s ease;
      &:hover {
        background-color: #707070;
        color: #ffffff;
      }
    }
  }
}

// trending this week
.trending {
  padding: 50px 0;

  .pageTitles {
    text-align: center;
    padding: 30px 0;

    p {
      margin: 0;
      text-transform: uppercase;
      color: #302f2f;
      font-family: "Roboto", sans-serif;
    }

    h4 {
      margin: 0;
      text-transform: uppercase;
      color: #111111;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
    }
  }

  .trendingcard {
    border: none;
    cursor: pointer;
  }

  .trendingheader {
    text-align: center;
    overflow: hidden;
    border-bottom: none;
    border-radius: 10px;
  }

  .trendingimage {
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.2);
    }
  }

  .trendingcol {
    margin: 0 0 25px;
  }

  .trendingbody {
    padding: 10px;

    .TrendingWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .TrendingName {
      margin: 0;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
    }

    .TrendingPrice {
      background-color: #fff0e9;
      color: #ff4f04;
      padding: 7px 20px;
      border-radius: 50px;
      font-weight: 700;
    }
  }
}

// footer
.footer {
  padding: 70px 0;

  .brand {
    .brandImage {
      width: 20%;
      object-fit: cover;
    }

    .brandText {
      margin: 0;
      width: 75%;
      color: #302f2f;
      font-family: "Roboto", sans-serif;
    }
  }

  .footerWrapper {
    display: flex;
    align-items: center;

    .products-list {
      margin: 0;
      margin-right: 70px;
      padding: 0;
      list-style-type: none;
    }

    .productsTitle {
      margin: 0;
      padding-bottom: 5px;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      letter-spacing: 0.5px;
      font-size: 20px;
    }

    .products-item {
      font-size: 17px;
      width: 130%;
      margin: 15px 0;
      font-family: "Roboto", sans-serif;
    }

    .products-link {
      text-decoration: none;
      color: #302f2f;
    }

    .products-text {
      margin: 0;
    }
  }
}
